In [7]:
# Importación de librerías regulares
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json

In [11]:
serie = "PN01207PM"
estructura = f"https://estadisticas.bcrp.gob.pe/estadisticas/series/api/{serie}/json"
data = requests.get(estructura).json()

In [15]:
##  convertir a dataframe
df = pd.DataFrame(data["periods"])
df["values"] = df["values"].apply(lambda x: x[0])
df

        name            values
0   Abr.2023           3.76545
1   May.2023  3.68866818181818
2   Jun.2023  3.65041904761905
3   Jul.2023          3.601255
4   Ago.2023  3.69776818181818
5   Sep.2023  3.73099523809524
6   Oct.2023  3.84575909090909
7   Nov.2023  3.76079523809524
8   Dic.2023  3.73394210526316
9   Ene.2024  3.74074285714286
10  Feb.2024   3.8279380952381
11  Mar.2024  3.70898947368421
12  Abr.2024  3.71503181818182
13  May.2024  3.73172727272727
14  Jun.2024   3.7867052631579
15  Jul.2024          3.764135
16  Ago.2024           3.74185
17  Sep.2024   3.7689619047619
18  Oct.2024  3.75436363636364
19  Nov.2024          3.779135
20  Dic.2024  3.73553684210526
21  Ene.2025  3.74692272727273
22  Feb.2025           3.69685
23  Mar.2025  3.65248571428571

In [19]:
##implementar los indicadores de calidad

def calcular_metricas_calidad(df):
    # completitud
    completitud = df["values"].count() / df["values"].size
    print(f"Completitud: {completitud:.2%}")

    #Porcentaje de repetidos
    unicos = df["values"].duplicated().sum()/df["values"].size
    print(f"Porcentaje de repetidos: {unicos:.2%}")

    #porcentaje de nulos
    porcentaje_nulos = df["values"].isna().sum() / df["values"].size
    print(f"Porcentaje de nulos: {porcentaje_nulos:.2%}")

    metricas = {
        "completitud": completitud,
        "porcentaje_repetidos": unicos,
        "porcentaje_nulos": porcentaje_nulos
    }
    return metricas

In [20]:
calcular_metricas_calidad(df)

Completitud: 100.00%
Porcentaje de repetidos: 0.00%
Porcentaje de nulos: 0.00%

{'completitud': 1.0, 'porcentaje_repetidos': 0.0, 'porcentaje_nulos': 0.0}

# Explicacion de metricas

### Completitud: 
Proporción de datos no nulos respecto al total de datos. Un valor cercano a 1 indica alta completitud.